@import url(main.css);
html,
body {
    margin: 0;
    height: 100%;
}


/* START OF DEFAULT ELEMENT CHANGES */

h1 {
    font-family: 'Bebas Neue';
    font-size: 80px;
    text-align: center;
}

h2 {
    font-familY: 'Bebas Neue';
    font-size: 50px;
    text-align: center;
}


/* END OF DEFAULT ELEMENT CHANGES */


/* BREAD CRUMBS STYLING */

.breadcrumbs-item {
    display: inline-block;
    font-family: "Bebas Neue";
    font-size: 50px;
}

.breadcrumbs-item:not(:last-of-type)::after {
    content: '>';
    margin: 0 5px;
}

.breadcrumbs-link {
    text-decoration: none;
    color: var(--text-secondary);
}

.breadcrumbs-link:hover {
    text-decoration: underline;
}

.breadcrumbs-link--active {
    color: #000000;
    font-weight: 500;
}


/* END OF BREAD CRUMBS */


/* BACKGROUND STYLING */

.bg {
    background: url(Images/Paw_BG.png) repeat center center fixed;
}

.wbg {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}


/* END OF BACKGROUND STYLING */


/* START OF GRID STYLING */

.grid-container {
    display: grid;
    align-content: center;
}

.gImage {
    grid-row-start: 1;
    grid-row-end: 3;
}

.gDisease {
    grid-column-start: 2;
    grid-column-end: 4;
}

.gDisease p {
    font-size: 35px;
    font-family: 'Lucida Bright';
    text-align: left;
}

.gRiskList {
    grid-row-start: 3;
}

.gRiskList li {
    font-family: 'Lucia Bright';
    font-size: 50px;
    list-style-type: none;
    text-align: center;
    color: var(--text-secondary);
}

.gTransmission {
    grid-column-start: 2;
    border-right: 6px solid black;
    height: 100%;
}

.gPrevention {
    grid-column-start: 3;
    border-left: 6px solid black;
    height: 100%;
}

.gTreatment {
    grid-column-start: 2;
    grid-column-end: 4;
}


/* END OF GRID STYLING */


/* CLICKED DISEASE IMAGE STYLING */

.dContainer {
    position: relative;
}

.clicked-image {
    max-width: 90%;
    float: center;
    border: 3px solid;
}

.dContainer p {
    position: absolute;
    bottom: 5px;
    left: 5px;
    margin: 0;
    background: rgba(83, 83, 83, 0.5);
    font-size: 25px;
    font-family: "Bebas Neue";
    color: white;
    width: 90%;
    text-align: center;
}


/* END OF CLICKED DISEASE IMAGE STYLING */


/* CLICKED DISEASE LIST STYLING FOR TRANS, PREV, AND TREAT */

.cd-list {
    font-family: 'Lucida Bright';
    font-size: 21px;
    text-align: left;
}